<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<form action="group/add" method="POST">
		<input type = "hidden" value = #{}>
		그룹명 : <input type = "text" name = "groupName">
		
	</form>



</body>
</html>